venv/
env/
__pycache__/
*.pyc
*.pyo
*.pyd
db.sqlite3
db.sqlite3-journal
.env
error.log
/staticfiles/
/media/*
!/media/.gitkeep
.DS_Store
Thumbs.db
.vscode/
*.egg-info/
dist/
build/
README.md
.env.example
